* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
    font-size: 24px;
    line-height: 2.0;
    height: 100%;

    min-width: 800px;
    min-height: 400px;
    overflow: hidden;
}

.controls-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #aaa;
}

.controls-area .wrapper {
    width: 80%;
    margin: 1em auto 2em;
}

.input-block, .model-selector {
    margin-bottom: .5em;
}

.options {
    margin-bottom: 1em;
}

.model-selector span {
    font-family: monospace;
}

label {
    display: inline-block;
    width: 20%;
    white-space: nowrap;
}

input {
    vertical-align: middle;
}

input[type=radio], input[type=checkbox] {
    width: 2em;
    height: 2em;
}

input[type=radio], input[type=checkbox], .model-selector label, .options label {
    cursor: pointer;
}

input[type=range] {
    display: inline-block;
    width: 75%;
}
